* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f0f4f8;
  font-family: "Segoe UI", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 10px;
  min-width: 600px;
}

.left-part {
  display: flex;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:visited {
  text-decoration: none;
  color: black;
}
