.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}

.updateCategory-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 20px;
  max-width: 500px;
}

.category-update-input {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 20px;
}

.category-update-button {
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: lightgreen;
  border: none;
  font-weight: bold;
  margin-top: 10px;
}
